<!DOCTYPE html>

<html>
    <head>
        <title>Test Redis</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <p> Clé : <%= key%> </p>
        <p> Valeur : <%= value%> </p>
    </body>
</html>